<div class="card">
  <div class="card-header bordered">
    <div class="header-block">
      <h3 class="title">Добавить событие</h3>
    </div>
  </div>
  <div class="card-block">
    <div class="alert alert-{{message.type}}" *ngIf="message.text">{{message.text}}</div>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">

      <div class="form-group">
        <label class="control-label" for="category">Выберите категорию</label>
        <select 
          class="form-control" 
          id="category"
          name="category"
          required
          [ngModel]="1"
        >
          <option *ngFor="let c of categories" [value]="c.id">{{ c.name }}</option>
        </select>
      </div>

      <div class="form-group">
        <label class="control-label">Выберите тип</label>
        <!-- ngModel = outcome !!! -->
        <div *ngFor="let t of types">
          <label>
            <input 
              class="radio" 
              name="type" 
              type="radio" 
              required
              [value]="t.type" 
              [ngModel]="'outcome'">
            <span>{{ t.label }}</span>
          </label>
        </div>

      </div>

      <div class="form-group" [ngClass]="{'has-error': amount.invalid && amount.touched}">
        <label class="control-label" for="amount">Введите сумму</label>
        <input
          class="form-control"
          id="amount" 
          type="number"
          name="amount"
          min="1"
          required
          #amount="ngModel"
          [ngModel]="1"
          >
          <span class="form-help-text" *ngIf="amount.invalid && amount.touched">Поле обязательно для заполнения</span>
      </div>

      <div class="form-group" [ngClass]="{'has-error': description.invalid && description.touched}">
          <label class="control-label" for="description">Введите описание</label>
          <input
            class="form-control"
            id="description" 
            type="text"
            name="description"
            required
            #description="ngModel"
            ngModel
            >
            <span class="form-help-text" *ngIf="description.invalid && description.touched">Поле обязательно для заполнения</span>
        </div>

      <button 
        class="btn btn-primary"
        type="submit" 
        [disabled]="f.invalid"
        >Добавить</button>
    </form>
  </div>
</div>