<div class="title-block">
  <h3 class="title">
      Страница записей <span class="sparkline bar"></span>
  </h3>
</div>

<section *ngIf="!isLoaded" class="section text-center">
    <bm-loader></bm-loader>
</section>

<section *ngIf="isLoaded" class="section">
  <div class="row">
      <div class="col-md-6">
        <bm-add-event [categories]="categories"></bm-add-event>
      </div>
      <div class="col-md-6">
        <bm-add-category (categoryAdd)="newCategoryAdded($event)"></bm-add-category>
      </div>
  </div>
  <div class="row">
      <div class="col-md-6">
          <bm-edit-category 
            [categories]="categories"
            (onCategoryEdit)="categoryWasEdited($event)"
          ></bm-edit-category>
      </div>
  </div>
</section>