<div class="card">
  <div class="card-header bordered">
    <div class="header-block">
      <h3 class="title">Редактировать категорию</h3>
    </div>
  </div>
  <div class="card-block">

    <div 
      *ngIf="message.text"
      class="alert alert-{{message.type}}"
      >{{message.text}}</div>

    <form #f="ngForm" (ngSubmit)="onSubmit(f)">

      <div class="form-group">
        <label for="e-select-category" class="control-label">Выберите категорию</label>
        <select 
          id="e-select-category" 
          class="form-control"
          (change)="onCategoryChange()"
          [(ngModel)]="currentCategoryId"
          [ngModelOptions]="{standalone: true}"
          >
          <option *ngFor="let c of categories" [value]="c.id" >
            {{c.name}}
          </option>
        </select>
      </div>

      <div [ngClass]="{'has-error': name.invalid && name.touched}" class="form-group">
        <label class="control-label" for="category-name">Введите название</label>
        <input 
          #name="ngModel" 
          name="name" 
          required 
          [ngModel] = "currentCategory.name"
          type="text" 
          id="e-category-name" 
          class="form-control">
        <span *ngIf="name.invalid && name.touched" class="form-help-text">Название категории не может быть пустым</span>
      </div>

      <div [ngClass]="{'has-error': capacity.invalid && capacity.touched}" class="form-group has-success">
        <label class="control-label" for="category-value">Введите лимит</label>
        <input 
          #capacity="ngModel" 
          [ngModel]="currentCategory.capacity" 
          name="capacity" 
          required 
          min="1" 
          type="number" 
          id="e-category-value" 
          class="form-control">
        <span *ngIf="capacity.invalid && name.touched" class="form-help-text">Поле не может быть пустым</span>
      </div>

      <button 
        type="submit" 
        class="btn btn-primary"
        [disabled]="f.invalid"
        >Редактировать</button>
    </form>
  </div>
</div>