<div class="title-block">
  <h3 class="title">
    Страница истории <span class="sparkline bar"></span>
  </h3>
  <div class="pull-right">
    <button class="btn-sm btn btn-primary-outline" (click)="openFilter()" >
      <i class="fa fa-filter"></i>
    </button>
  </div>
</div>

<div *ngIf="!isLoaded">
    <bm-loader></bm-loader>
</div>
<div *ngIf="isLoaded">
  <bm-history-chart [data]="chartData"></bm-history-chart>

  <bm-history-events [categories]="categories" [events]="filteredEvents"></bm-history-events>

  <div *ngIf="isFilterVisible">
    <bm-histoty-filter
      (FilterApply)="onFilterApply($event)"
      (FilterCancel)="onFilterCancel()"
      [categories]="categories"
    ></bm-histoty-filter>
  </div>
</div>