<div class="title-block">
  <h3 class="title pull-left">
      Страница счета <span class="sparkline bar"></span>
  </h3>
  <div class="pull-right">
    <button class="btn-sm btn btn-primary-outline" (click)="onRefresh()" >
      <i class="fa fa-refresh"></i>
    </button>
  </div>
</div>
<section class="section">
  <div class="row text-center" *ngIf="!isLoaded">
      <bm-loader></bm-loader>
  </div>
  <div class="row" *ngIf="isLoaded">
      <bm-bill-card [bill]="bill" [currency]="currency"></bm-bill-card>
      <bm-currency-card [currency]="currency"></bm-currency-card>      
  </div>
</section>