@keyframes pace-spinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg)
    }
}

.loader-animator {
    display: block;
    animation: pace-spinner 400ms linear infinite;
    border-color: rgba(0, 0, 0, 0.4) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0.4) ;
    border-radius: 50%;
    border-right: 2px solid rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 2px;
    height: 16px;
    width: 16px;
    margin: auto;
}