<div class="main-wrapper">
    <div class="app">

        <bm-header></bm-header>

        <bm-sidebar></bm-sidebar>

        <article class="content dashboard-page">
            <router-outlet></router-outlet>
        </article>

    </div>
</div>